<div class="panel panel-default">
  <div class="panel-heading">
    <p><%= review.user.nickname %>さんのレビュー</p>
    <p>評価:<%= review.rate %></p>
  </div>
  <div class="panel-body">
    <p>レビュー:<%= review.review %></p>
  </div>
</div>



